* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.25rem;
    padding: 15px 15px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
}

.header ul {
    display: flex;
    align-items: center;
}

.header ul li {
    list-style: none;
    margin-left: 35px;

}

.header li a {
    text-decoration: none;
    color: black;
}


.header .logo a {
    text-decoration: none;
    color: black;
}

.header .logo a span {
    font-weight: 800;
}

main .image {
    background: url(./Assets/images/architect.jpg);
    max-width: 90%;
    margin: 0 auto;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom;
    border-radius: 10px;

}

main .text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

main .text p {
    font-size: 1.5rem;
    color: white;
    letter-spacing: 4px;

}

main .text p span {
    background-color: black;
    padding: 7px 10px;
    font-weight: 800;
    margin-right: 10px;
    opacity: 0.75;
}

/* projects */
main .heading_projects {
    width: 90%;
    margin: 5rem auto 2rem auto;
}

main .heading_projects p {
    color: black;
    padding: 0.8rem 0.5rem;
    font-weight: 400;
}

hr {
    opacity: 70%;
}

main .container1 {
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;

}

main .container1 .img_group {
    width: 24%;
    margin: 0 auto;
    margin-bottom: 8px;

}

main .container1 .img_group img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);

}

main .container1 .img_group a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    font-size: 0.8rem;
    position: absolute;
}

main .about {
    width: 90%;
    margin: 5rem auto 2rem auto;
}

main .about p {
    color: black;
    padding: 0.8rem 0.5rem;
    font-weight: 400;
}

main .about p:last-child {
    padding: o.8rem 0rem;
    font-size: 0.75rem;
    line-height: 1.1rem;
    font-weight: 400;
}

main .container2 {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;

}

.container2 .about_group {
    width: 24%;
    margin: 0 auto;

}

.container2 .about_group img {
    width: 100%;
    filter: grayscale(70%);
    border-radius: 10px;

}

.about_group #name {
    padding: 0.6rem 0rem;
    font-weight: 400;
}

.about_group #position {
    padding: 0.4rem 0rem;
    font-size: 0.75rem;
    font-weight: 400;

}

.about_group #about {
    padding: 0.6rem 0rem;
    font-size: 0.8rem;
    line-height: 1.1rem;
    font-weight: 400;

}

.about_group button {
    cursor: pointer;
    width: 100%;
    margin-top: 3px;
    padding: 7px 0px;
    border: none;
    background-color: #f1f1f1;
    font-weight: 400;

}

/* contact heading */
main .heading_contact {
    width: 90%;
    margin: 5rem auto 0rem auto;
}

main .heading_contact p:first-child {
    color: black;
    padding: 0.8rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
}

main .heading_contact p:last-child {
    color: black;
    padding: 0.8rem 0rem;
    font-size: 0.8rem;
    line-height: 1.1rem;
    font-weight: 400;
}

/* Form container3 */
main .container3 {
    width: 90%;
    margin: 0 auto;
}

.container3 input {
    width: 100%;
    padding: 10px;
    border: 1px solid rgba(167, 167, 167, 0.669);
    margin-bottom: 1rem;
}

.container3 button {
    padding: 9px 25px;
    border: none;
    font-size: 0.7rem;
    margin-top: 0.5rem;
    cursor: pointer;
    background-color: black;
    color: white;
    transition: all 0.3s;
}

.container3 button:hover {
    background-color: rgb(47, 47, 47);
}

/* Map */
.map {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 3rem;
}

.map img {
    width: 100%;
}

/* footer */
footer {
    background-color: black;
}

footer p {
    text-align: center;
    color: white;
    padding: 20px;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

footer a {
    color: white;
}


@media (max-width:992px) {
    main .container1 .img_group {
        width: 48%;
    }

    .container2 .about_group {
        width: 48%;
    }

}

@media (max-width:768px) {

    .header {
        font-size: 0.6rem;
    }

    .header ul li {
        margin-left: 10px;
    }

    main .image {
        max-width: 100%;
        height: 70vh;
    }

    main .text {
        height: 70vh;
    }

    main .container1 .img_group {
        width: 100%;
    }

    .container2 .about_group {
        width: 100%;
        margin-bottom: 1.5rem;
    }

}